@font-face {
	font-family:"inconsolata";
	src:url(../fonts/Inconsolata.ttf) format("truetype");
}

@font-face {
	font-family:"verase";
	src:url(../fonts/verase.ttf) format("truetype");
}

body {
	font-size: 10pt;
	font-family: verase, sans-serif, Helvetica, Verdana, Arial;
}

h1 {
	color: white;
	background-color: #050caf;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-weight: bold;
	text-align: left;
	font-size: 20pt;
}

h3.method {
	color: #610cff;
	font-size: 10pt;
	font-family: inconsolata, "Courier New", Courier, Monaco, monospace;
	margin-bottom: -5px;
}

h3.user_method {
	color: green;
	font-size: 10pt;
	font-family: inconsolata, "Courier New", Courier, Monaco, monospace;
	margin-bottom: -5px;
}

h3.macro {
	color: #0b91ff;
	font-size: 10pt;
	font-family: inconsolata, "Courier New", Courier, Monaco, monospace;
	margin-bottom: -5px;
}

div.method_div {
	border-top-style: ridge;
	margin-left: 3px;
	margin-bottom: 3px;
	margin-right: 3px;
	margin-top: 10px;
}

h2 {
	color: #050caf;
	font-family: Helvetica, Verdana, Arial, sans-serif;
}

h2.include {
	font-size: larger;
	font-family: "Courier New", Courier, Monaco, monospace;
	color: #610cff;
}

div.code_example {
	background-color: #666666;
	color: white;
}

h4.parameter {
	font-weight: bold;
}

table.param_block {
	background-color: #666666;
	color: white;
	text-align: left;
	border-spacing: 16px 0px;
	margin-left: 16px;
	margin-bottom: 3px;
	margin-right: 16px;
	margin-top: 8px;
	width: 600px;
}

table.dictionary {
	background-color: #666666;
	color: white;
	text-align: left;
	border-spacing: 16px 0px;
	margin-left: 16px;
	margin-bottom: 3px;
	margin-right: 16px;
	margin-top: 8px;
	width: 600px;
}

td.param {
	font-style: italic;
	vertical-align: top;
}

em.warning {
    color: purple;
}
